<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <!-- The form -->
        <form #userEditForm="ngForm" id="userCreateForm" (ngSubmit)="submitUserEditForm(userEditForm)">
          <!-- The card -->
          <div class="card card-secondary">
          <div class="card-header">
            <h3 class="card-title">User's profile</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
              <div class="row">
                <!-- Profile Image -->
                <div class="col-md-3">
                  <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                      <div class="text-center">
                        <img class="profile-user-img img-fluid img-circle"
                             src="./assets/static/dist/img/user4-128x128.jpg"
                             alt="User profile picture">
                      </div>

                      <h3 class="profile-username text-center">Nina Mcintire</h3>

                      <!--                    <p class="text-muted text-center">Software Engineer</p>-->

                      <ul class="list-group list-group-unbordered mb-3">
                        <li class="list-group-item">
                          <b>Views</b> <a class="float-right">1,322</a>
                        </li>
                        <li class="list-group-item">
                          <b>Rented</b> <a class="float-right">543</a>
                        </li>
                        <!--                      <li class="list-group-item">-->
                        <!--                        <b>Friends</b> <a class="float-right">13,287</a>-->
                        <!--                      </li>-->
                      </ul>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
                  <div class="row">
                    <div class="form-group col-md-12">
                      <input ngModel type="text" name="facebookUrl" class="form-control" id="facebookUrl"
                             placeholder="Facebook URL">
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-md-12">
                    <textarea ngModel name="description" id="description" rows="4" class="form-control"
                              placeholder="Tell something about yourself">
                  </textarea>
                    </div>
                  </div>
                </div>

                <!-- Information -->
                <div class="col-md-9">
                  <div class="card card-primary card-outline">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="row">
                            <!-- First name -->
                            <div class="form-group col-md-4">
                              <label for="firstName" class="red-star">First name</label>
                              <input ngModel type="text" name="firstName" class="form-control"
                                     id="firstName" placeholder="First name">
                            </div>
                            <!-- Last name -->
                            <div class="form-group col-md-4">
                              <label for="lastName" class="red-star">Last name</label>
                              <input ngModel type="text" name="lastName" class="form-control"
                                     id="lastName" placeholder="Last name">
                            </div>
                            <!-- Gender -->
                            <div class="form-group col-md-4">
                              <label for="gender" class="red-star">Gender</label>
                              <select ngModel name="gender" id="gender" class="form-control">
                                <option value="" selected disabled>-- Gender --</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                              </select>
                            </div>
                          </div>

                          <div class="row">
                            <!-- Email -->
                            <div class="form-group col-md-4">
                              <label for="email" class="red-star">Email address</label>
                              <input ngModel type="email" name="email" class="form-control"
                                     id="email" placeholder="Enter email">
                            </div>
                            <!-- Phone -->
                            <div class="form-group col-md-4">
                              <label for="phone" class="red-star">Phone</label>
                              <input ngModel type="text" name="phone" class="form-control"
                                     id="phone" placeholder="Enter phone">
                            </div>

                            <!-- Year of birth -->
                            <div class="form-group col-md-4">
                              <label for="yearOfBirth" class="red-star">Year of birth</label>
                              <select ngModel="" name="yearOfBirth" id="yearOfBirth" class="form-control">
                                <option value="" selected disabled>-- Year of birth --</option>
                                <option *ngFor="let year of allYears" value="year">{{year}}</option>
                              </select>
                            </div>
                          </div>

                          <div class="row">
                            <!-- City -->
                            <div class="form-group col-md-4">
                              <label for="city" class="red-star">City</label>
                              <select ngModel name="city" id="city" class="form-control">
                                <option value="" selected disabled>-- City --</option>
                                <option *ngFor="let city of allCities" value="{{city.id}}">{{city.name}}</option>
                              </select>
                            </div>
                            <!-- Nationality -->
                            <div class="form-group col-md-4">
                              <label for="nationality" class="red-star">Nationality</label>
                              <select ngModel name="nationality" id="nationality" class="form-control">
                                <option value="" selected disabled>-- Nationality --</option>
                                <option *ngFor="let nationality of allNationalities"
                                        value="{{nationality.id}}">{{nationality.name}}</option>
                              </select>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-2">
                              <label for="weight">Weight</label>
                              <input ngModel type="number" name="weight" class="form-control" id="weight"
                                     placeholder="Weight">
                            </div>

                            <div class="col-md-2">
                              <label for="height">Height</label>
                              <input ngModel type="number" name="height" class="form-control" id="height"
                                     placeholder="Height">
                            </div>

                            <div class="col-md-2">
                              <label for="bust">Bust</label>
                              <input ngModel type="number" name="bust" class="form-control" id="bust"
                                     placeholder="Bust">
                            </div>

                            <div class="col-md-2">
                              <label for="waist">Waist</label>
                              <input ngModel type="number" name="waist" class="form-control" id="waist"
                                     placeholder="Waist">
                            </div>

                            <div class="col-md-2">
                              <label for="hips">Hips</label>
                              <input ngModel type="number" name="hips" class="form-control" id="hips"
                                     placeholder="Hips">
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                    <!-- /.card-body -->
                  </div>
                </div>
              </div>
              <div class="row">
                <!-- Free services -->
                <div class="col-md-3">
                  <div class="card card-primary card-outline">
                    <div class="card-body">
                      <div *ngFor="let service of allServices; index as idx" class="custom-control custom-checkbox">
                        <div class="row">
                          <div class="col-md-10">
                            <input class="custom-control-input" type="checkbox" id="`freeService`+{{idx+1}}" value="value">
                            <label for="`freeService`+{{idx+1}}" class="custom-control-label">{{service.name}}</label>
                          </div>
                          <div class="col-md-2">
                            <span><i>Free</i></span>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- Charged services -->
                <div class="col-md-4">
                  <!-- Charged Services -->
                  <div class="card card-primary card-outline">
                    <div class="card-body">

                    </div>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- Images -->
                <div class="col-md-4">
                  <!-- Images -->
                  <div class="card card-primary card-outline">
                    <div class="card-body">

                      <!-- Input for images -->
                      <div class="row">
                        <div class="form-group col-md-12">
                          <label for="images">Upload images (3)</label>
                          <div class="input-group">
                            <div class="custom-file">
                              <input type="file" class="form-control custom-file-input" id="images" multiple>
                              <label class="custom-file-label" for="images">Choose files</label>
                            </div>
                            <div class="input-group-append">
                              <span class="input-group-text">Upload</span>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- List of images -->
                      <div>
                        <div class="p-0 row">
                          <div class="col-sm-2">
                            <a href="https://via.placeholder.com/1200/FFFFFF.png?text=1" data-toggle="lightbox"
                               data-title="sample 1 - white">
                              <img src="https://via.placeholder.com/300/FFFFFF?text=1" class="img-fluid mb-2"
                                   alt="white sample"/>
                            </a>
                          </div>
                          <div class="col-sm-2">
                            <a href="https://via.placeholder.com/1200/000000.png?text=2" data-toggle="lightbox"
                               data-title="sample 2 - black">
                              <img src="https://via.placeholder.com/300/000000?text=2" class="img-fluid mb-2"
                                   alt="black sample"/>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /.card-body -->
                  </div>
                </div>
              </div>

          </div>
          <!-- /.card-body -->
          <!-- Button DEACTIVATE, SAVE CHANGES and CANCEL -->
          <div class="card-footer">
            <div class="row">
              <button type="button" class="btn btn-warning">Deactivate</button> &nbsp;
              <button type="submit" class="btn btn-success">Save changes</button> &nbsp;
              <button type="button" routerLink="admin/dashboard" class="btn btn-secondary">Cancel</button>
            </div>
          </div>
          <!-- /.card -->
        </div>
        </form>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
