<!--<p>user-reservation-list works!</p>-->

<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Reservations</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <!-- Product Search By Name -->
          <li>
            <!--              Search bar here-->
          </li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="card">
    <div class="card-header">
      <!--      <span class="btn btn-success btn-sm" routerLink="create">-->
      <!--        <i class="fas fa-star"></i> Add new-->
      <!--      </span>-->

      <!--      <span class="float-right">-->
      <!--        <ng-container>-->
      <!--          <form (ngSubmit)="getAllBooks(keyword)">-->
      <!--              <div class="input-group">-->
      <!--                <input type="search" class="form-control form-control-sm"-->
      <!--                       [(ngModel)]="keyword" placeholder="Search by title, author or description,...">-->
      <!--                <div class="input-group-append">-->
      <!--                  <button type="submit" class="btn btn-sm btn-default">-->
      <!--                    <i class="fa fa-search"></i>-->
      <!--                  </button>-->
      <!--                </div>-->
      <!--              </div>-->
      <!--            </form>-->
      <!--        </ng-container>-->
      <!--      </span>-->


      <div class="card-body p-0">
        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Renter</th>
            <th scope="col">Total Money</th>
            <th scope="col">Status</th>
            <th scope="col" class="text-right">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let reservation of myReservations; index as idx">
            <td>{{idx + 1}}</td>
            <td>{{reservation.renter.firstName}} {{reservation.renter.lastName}}</td>
            <td>{{reservation.totalMoney}}</td>
            <td>
              <span *ngIf="reservation.status === PENDING" class="badge badge-warning">Pending</span>
              <span *ngIf="reservation.status === ACCEPTED" class="badge badge-info">Accepted</span>
              <span *ngIf="reservation.status === REJECTED" class="badge badge-danger">Rejected</span>
              <span *ngIf="reservation.status === COMPLETED" class="badge badge-success">Completed</span>
            </td>
            <td class="text-right">
              <a title="View detail!"
                 routerLink="/admin/users/{{currentUser.id}}/reservations/{{reservation.id}}"
                 type="button" class="btn btn-sm btn-info">View
              </a>
              <a *ngIf="currentUser.id !=1 && reservation.status === PENDING" title="Accept!"
                 class="btn btn-info btn-sm" (click)="getReservationIdOnAction(reservation.id)"
                 data-toggle="modal" data-target="#modal-accept">Accept
              </a>
              <a *ngIf="currentUser.id !=1 && reservation.status === PENDING" title="Reject!"
                 class="btn btn-danger btn-sm" (click)="getReservationIdOnAction(reservation.id)"
                 data-toggle="modal" data-target="#modal-reject">Reject
              </a>
              <a *ngIf="currentUser.id !=1 && reservation.status === ACCEPTED" title="Claim money!"
                 class="btn btn-success btn-sm" (click)="getReservationIdOnAction(reservation.id)"
                 data-toggle="modal" data-target="#modal-claim-money">Claim
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<!-- /. main content -->

<!--Modal of ACCEPT-->
<div class="modal fade" id="modal-accept">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Accept?</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure to accept this reservation?</p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-info" (click)="accept(reservationIdOnAction)">Accept</button>
      </div>
    </div>
  </div>
</div>

<!--Modal of REJECT-->
<div class="modal fade" id="modal-reject">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Reject?</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Reject this reservation?</p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="reject(reservationIdOnAction)">Reject</button>
      </div>
    </div>
  </div>
</div>


<!--Modal of CLAIM-->
<div class="modal fade" id="modal-claim-money">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Claim?</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Claim money for this reservation?</p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success" (click)="claimMoney(reservationIdOnAction)">Claim</button>
      </div>
    </div>
  </div>
</div>
