<div class="col-6">
  <h1>Reservation 2021</h1>

  <div class="table-responsive">
    <table class="table">
      <tbody>
      <tr>
        <th style="width:60%">renter:</th>
        <td>{{reservation?.renter?.firstName}} {{reservation?.renter?.lastName}}</td>
      </tr>

      <tr>
        <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>
        <td>{{reservation?.location}}</td>
      </tr>
      <tr>
        <th>Start form:</th>
        <td>{{reservation?.startFrom}}</td>
      </tr>
      <tr>
        <th>Reservation At:</th>
        <td>{{reservation?.reserveAt}}</td>
      </tr>
      <tr>
        <th>Total Money:</th>
        <td>{{reservation?.totalMoney}}</td>
      </tr>
      <tr>
        <th>Service :</th>
        <td></td>
      </tr>
      <tr>
        <th>Status :</th>
        <td>{{reservation?.status}}</td>
      </tr>
      <tr>
        <th>Feedback-about-tenants :</th>
        <td>phan hoi ve nguoi thue</td>
      </tr>
      </tbody>
    </table>
  </div>
<!--  <button type="button" class="btn btn-success float-right">Back</button>-->
</div>
